body {
    background-color: #7cbc8c;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    text-align: center;
}

canvas {
    background-color: white;
    border: 0;
    margin: 0;
    border: 0;
    max-width: 96vw;
    max-height: 64vw;
    width: 144vh;
    height: 96vh;
}

@media (orientation: portrait) {
    canvas {
        width: 96vw;
        height: 64vw;
        max-width: 144vh;
        max-height: 96vh;
    }
}


.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.container > form {
    display: flex;
    width: 100%;
}

#color-picker {
    width: 30px;
}

.container > form > input {
    margin: 0;
    border: 0;
}

input,
button {
    padding: 0px;
}

.container > div {
    text-align: center;
    padding-top: 15px;
}
